html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* \5FAE\8F6F\96C5\9ED1 : 微软雅黑 */
  font-family: '\5FAE\8F6F\96C5\9ED1', 'Microsoft YaHei', 'WenQuanYi Micro Hei Mono', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

#app {
  height: 100%;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
